#### Data Science Capstone Project,  Springboard Bootcamp <br> Title: "Improving Restaurant Reputation Using Yelp User Reviews" <br> Reza Taeb <br> San Francisco, Spring 2018

## Part 1 - Data Acquiring and Wrangling

In [1]:
# Importing Necessary Packages and Libraries

import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.cm as cm
from matplotlib.colors import ListedColormap

In [2]:
# Adjust output view

pd.set_option('display.width', 120)
sns.set()

In [3]:
# read CSV files ("review" and "business") 

df_review = pd.read_csv('../review.csv')
df_business = pd.read_csv('../business.csv')

In [4]:
# General Information of data subsets 

print (df_review.info())
print (df_review.head())


print (df_business.info())
print (df_business.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261669 entries, 0 to 5261668
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 361.3+ MB
None
                review_id                 user_id             business_id  stars        date  \
0  v0i_UHJMo_hPBq9bxWvW4w  bv2nCi5Qv5vroFiqKGopiw  0W4lkclzZThpx3V65bVgig      5  2016-05-28
1  vkVSCC7xljjrAI4UGfnKEQ  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA      5  2016-05-28
2  n6QzIUObkYshz4dz2QRJTw  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w      5  2016-05-28
3  MV3CcKScW05u5LVfF6ok0g  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g      5  2016-05-28
4  IXvOzsEMYtiJI0CARmj77Q  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA      4  2016-05-28

                                                text  useful  funny  cool
0  Love the staff, love the meat, love the place....       0      0     0
1  Super simple place but amazing nonetheless. It...       0      0     0
2  Small unassuming place that changes their menu...       0      0     0
3  Lester's is located in a beautiful neighborhoo...       0      0     0
4  Love coming here. Yes the place always needs t...       0      0     0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174567 entries, 0 to 174566
Data columns (total 15 columns):
business_id     174567 non-null object
name            174567 non-null object
neighborhood    68015 non-null object
address         168125 non-null object
city            174566 non-null object
state           174566 non-null object
postal_code     173944 non-null object
latitude        174566 non-null float64
longitude       174566 non-null float64
stars           174567 non-null float64
review_count    174567 non-null int64
is_open         174567 non-null int64
attributes      174567 non-null object
categories      174567 non-null object
hours           174567 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 20.0+ MB
None
              business_id                      name neighborhood                         address            city  \
0  FYWN1wneV18bWNgQjJ2GNg          Dental by Design          NaN        4855 E Warner Rd, Ste B9       Ahwatukee
1  He-G7vWjzVUysIKrfNbPUQ       Stephen Szabo Salon          NaN              3101 Washington Rd        McMurray
2  KQPW8lFf1y5BT2MxiSZ3QA     Western Motor Vehicle          NaN          6025 N 27th Ave, Ste 1         Phoenix
3  8DShNS-LuFqpEWIp0HxijA          Sports Authority          NaN  5000 Arizona Mills Cr, Ste 435           Tempe
4  PfOCPjBrlQAnz__NXj9h_w  Brick House Tavern + Tap          NaN                    581 Howe Ave  Cuyahoga Falls

  state postal_code   latitude   longitude  stars  review_count  is_open  \
0    AZ       85044  33.330690 -111.978599    4.0            22        1
1    PA       15317  40.291685  -80.104900    3.0            11        1
2    AZ       85017  33.524903 -112.115310    1.5            18        1
3    AZ       85282  33.383147 -111.964725    3.0             9        0
4    OH       44221  41.119535  -81.475690    3.5           116        1

                                          attributes                                         categories  \
0  {'AcceptsInsurance': True, 'ByAppointmentOnly'...  ['Dentists', 'General Dentistry', 'Health & Me...
1  {'BusinessParking': {'garage': False, 'street'...  ['Hair Stylists', 'Hair Salons', "Men's Hair S...
2                                                 {}  ['Departments of Motor Vehicles', 'Public Serv...
3  {'BusinessAcceptsCreditCards': True, 'Restaura...                     ['Sporting Goods', 'Shopping']
4  {'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...  ['American (New)', 'Nightlife', 'Bars', 'Sandw...

                                               hours
0  {'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...
1  {'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0...
2                                                 {}
3  {'Monday': '10:00-21:00', 'Tuesday': '10:00-21...
4  {'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...

## Part A  - Data Wrangling on "Business" dataframe

In [5]:
# Check "business" dataset categories 

cat = df_business['categories']
print (cat.head(5))

0    ['Dentists', 'General Dentistry', 'Health & Me...
1    ['Hair Stylists', 'Hair Salons', "Men's Hair S...
2    ['Departments of Motor Vehicles', 'Public Serv...
3                       ['Sporting Goods', 'Shopping']
4    ['American (New)', 'Nightlife', 'Bars', 'Sandw...
Name: categories, dtype: object

Type of business is specified in ** Categories ** column. Since this project is just focusing on *** Resturants ***, first step is filtering entries that their businesses are "restaurant".

In [6]:
# Filter "resturant" from original sub dataset "business"

df_restaurant = df_business[df_business['categories'].str.contains('Restaurant')]
df_non_restaurant = df_business[~df_business['categories'].str.contains('Restaurant')]

# Check resturants entires

df_restaurant.info()
df_restaurant.head()

# Check non_restaurant entries

df_non_restaurant.info()
df_non_restaurant.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54630 entries, 4 to 174558
Data columns (total 15 columns):
business_id     54630 non-null object
name            54630 non-null object
neighborhood    24521 non-null object
address         54311 non-null object
city            54630 non-null object
state           54630 non-null object
postal_code     54529 non-null object
latitude        54630 non-null float64
longitude       54630 non-null float64
stars           54630 non-null float64
review_count    54630 non-null int64
is_open         54630 non-null int64
attributes      54630 non-null object
categories      54630 non-null object
hours           54630 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 6.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 119937 entries, 0 to 174566
Data columns (total 15 columns):
business_id     119937 non-null object
name            119937 non-null object
neighborhood    43494 non-null object
address         113814 non-null object
city            119936 non-null object
state           119936 non-null object
postal_code     119415 non-null object
latitude        119936 non-null float64
longitude       119936 non-null float64
stars           119937 non-null float64
review_count    119937 non-null int64
is_open         119937 non-null int64
attributes      119937 non-null object
categories      119937 non-null object
hours           119937 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 14.6+ MB

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,FYWN1wneV18bWNgQjJ2GNg,Dental by Design,NaN,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,"{'AcceptsInsurance': True, 'ByAppointmentOnly'...","['Dentists', 'General Dentistry', 'Health & Me...","{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0..."
1,He-G7vWjzVUysIKrfNbPUQ,Stephen Szabo Salon,NaN,3101 Washington Rd,McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,"{'BusinessParking': {'garage': False, 'street'...","['Hair Stylists', 'Hair Salons', ""Men's Hair S...","{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0..."
2,KQPW8lFf1y5BT2MxiSZ3QA,Western Motor Vehicle,NaN,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,{},"['Departments of Motor Vehicles', 'Public Serv...",{}
3,8DShNS-LuFqpEWIp0HxijA,Sports Authority,NaN,"5000 Arizona Mills Cr, Ste 435",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","['Sporting Goods', 'Shopping']","{'Monday': '10:00-21:00', 'Tuesday': '10:00-21..."
6,kCoE3jvEtg6UVz5SOD3GVw,BDJ Realty,Summerlin,"2620 Regatta Dr, Ste 102",Las Vegas,NV,89128,36.207430,-115.268460,4.0,5,1,"{'BusinessAcceptsCreditCards': False, 'ByAppoi...","['Real Estate Services', 'Real Estate', 'Home ...","{'Friday': '8:00-17:00', 'Tuesday': '8:00-17:0..."

Initially I divided the original business dataset into “restaurant” and “non_restaurant” subsets.
Glancing to the "categories" column for "non_restaurant" subset, I noticed another similar word to "Restaurant" which is **Food** . There are around 14500 observations that  do not have RESTAURANT but have FOOD as one of their categories tags.  So I need to look at this tag (Food) more carefully. I need to focus more on the entries that have "Food" as one of their categories, since some of them may provide some products or services that are related to the food (such as groceries, etc.) and **Not Serving Food** .

In [7]:
# Check the entries of the business dataset that do not have "Restaurant" but it has "Food" in their categories. 
# In other words check the entries of "non_restaurant" dataset that have "Food" in their categories

df_food = df_non_restaurant[df_non_restaurant['categories'].str.contains('Food')]
print (df_food.info())
print (df_food.head(5))


print (df_food['categories'].iloc[0:10])
print (df_food['categories'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14449 entries, 8 to 174561
Data columns (total 15 columns):
business_id     14449 non-null object
name            14449 non-null object
neighborhood    6491 non-null object
address         14091 non-null object
city            14449 non-null object
state           14449 non-null object
postal_code     14351 non-null object
latitude        14449 non-null float64
longitude       14449 non-null float64
stars           14449 non-null float64
review_count    14449 non-null int64
is_open         14449 non-null int64
attributes      14449 non-null object
categories      14449 non-null object
hours           14449 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 1.8+ MB
None
               business_id                   name     neighborhood                 address      city state  \
8   EsMcGiZaQuG1OOvL9iUFug       Any Given Sundae              NaN   2612 Brandt School Rd   Wexford    PA
12  xcgFnd-MwkZeO5G2HQ0gAQ  T & T Bakery and Cafe  Markham Village        35 Main Street N   Markham    ON
20  lHYiCS-y8AFjUitv6MGpxg              Starbucks  Liberty Village         85 Hanna Avenue   Toronto    ON
27  AtdXq_gu9NTE5rx4ct_dGg              DAVIDsTEA          Ryerson      10 Dundas Street E   Toronto    ON
42  zjySmTfL9WiMDVgp8-Jp3w                   TCBY              NaN  610 Jetton St, Ste 130  Davidson    NC

   postal_code   latitude  longitude  stars  review_count  is_open                                         attributes  \
8        15090  40.615102 -80.091349    5.0            15        1  {'BusinessParking': {'garage': False, 'street'...
12     L3P 1X3  43.875177 -79.260153    4.0            38        1  {'BusinessParking': {'garage': False, 'street'...
20     M6K 3S3  43.639863 -79.419533    4.0            21        1  {'BusinessParking': {'garage': False, 'street'...
27     M5B 2G9  43.656729 -79.380718    4.0             6        1  {'BusinessParking': {'garage': False, 'street'...
42       28036  35.501227 -80.860949    3.5             3        1  {'BusinessParking': {'garage': False, 'street'...

                                           categories                                              hours
8   ['Coffee & Tea', 'Ice Cream & Frozen Yogurt', ...                                                 {}
12                     ['Bakeries', 'Bagels', 'Food']                                                 {}
20                           ['Food', 'Coffee & Tea']  {'Monday': '5:30-22:00', 'Tuesday': '5:30-22:0...
27              ['Coffee & Tea', 'Food', 'Tea Rooms']  {'Monday': '10:00-21:00', 'Tuesday': '10:00-21...
42  ['Desserts', 'Ice Cream & Frozen Yogurt', 'Food']                                                 {}
8      ['Coffee & Tea', 'Ice Cream & Frozen Yogurt', ...
12                        ['Bakeries', 'Bagels', 'Food']
20                              ['Food', 'Coffee & Tea']
27                 ['Coffee & Tea', 'Food', 'Tea Rooms']
42     ['Desserts', 'Ice Cream & Frozen Yogurt', 'Food']
61                  ['Food', 'Coffee & Tea', 'Desserts']
69                                  ['Bakeries', 'Food']
94                 ['Ice Cream & Frozen Yogurt', 'Food']
108                                   ['Food', 'Donuts']
141    ['Convenience Stores', 'Desserts', 'Food Deliv...
Name: categories, dtype: object
['Food', 'Coffee & Tea']                                                                                                           978
['Coffee & Tea', 'Food']                                                                                                           929
['Grocery', 'Food']                                                                                                                538
['Food', 'Grocery']                                                                                                                522
['Food', 'Ice Cream & Frozen Yogurt']                                                                                              424
['Ice Cream & Frozen Yogurt', 'Food']                                                                                              389
['Food', 'Bakeries']                                                                                                               374
['Bakeries', 'Food']                                                                                                               357
['Food', 'Beer', 'Wine & Spirits']                                                                                                 210
['Beer', 'Wine & Spirits', 'Food']                                                                                                 194
['Food', 'Juice Bars & Smoothies']                                                                                                 125
['Convenience Stores', 'Food']                                                                                                     113
['Food', 'Convenience Stores']                                                                                                     109
['Juice Bars & Smoothies', 'Food']                                                                                                 103
['Desserts', 'Food']                                                                                                                80
['Food']                                                                                                                            75
['Specialty Food', 'Food']                                                                                                          61
['Donuts', 'Food']                                                                                                                  58
['Food', 'Food Trucks']                                                                                                             58
['Food', 'Specialty Food']                                                                                                          57
['Food', 'Desserts']                                                                                                                55
['Farmers Market', 'Food']                                                                                                          54
['Food Trucks', 'Food']                                                                                                             53
['Food', 'Donuts']                                                                                                                  53
['Food', 'Farmers Market']                                                                                                          48
['Food', 'Breweries']                                                                                                               45
['Breweries', 'Food']                                                                                                               38
['Bagels', 'Food']                                                                                                                  38
['Coffee & Tea', 'Donuts', 'Food']                                                                                                  37
['Donuts', 'Food', 'Coffee & Tea']                                                                                                  37
                                                                                                                                  ...
['Fashion', 'Food', 'Department Stores', 'Drugstores', 'Shopping', 'Electronics', 'Grocery', 'Discount Store']                       1
['Convenience Stores', 'Food', 'Grocery', 'Shopping', 'Flowers & Gifts', 'Florists']                                                 1
['Food', 'Patisserie/Cake Shop', 'Ice Cream & Frozen Yogurt', 'Coffee & Tea']                                                        1
['Coffee & Tea', 'Bakeries', 'Shaved Ice', 'Food']                                                                                   1
['Mobile Phones', 'Electronics', 'Grocery', 'Shopping', 'Fashion', 'Department Stores', 'Food']                                      1
['Coffee & Tea', 'Food', 'Donuts', 'Bubble Tea']                                                                                     1
['Ice Cream & Frozen Yogurt', 'Specialty Food', 'Food', 'Chocolatiers & Shops']                                                      1
['Shopping', 'Head Shops', 'Food', 'Tobacco Shops', 'Beer', 'Wine & Spirits']                                                        1
['Convenience Stores', 'Shopping', 'Food']                                                                                           1
['Food', 'Coffee & Tea', 'Shopping', 'Tobacco Shops']                                                                                1
['Beer', 'Wine & Spirits', 'Grocery', 'Food', 'Convenience Stores']                                                                  1
['Shopping', 'Brewing Supplies', 'Food', 'Beer', 'Wine & Spirits']                                                                   1
['Bakeries', 'Desserts', 'Food', 'Cupcakes', 'Custom Cakes']                                                                         1
['Arts & Entertainment', 'Lounges', 'Beer', 'Wine & Spirits', 'Nightlife', 'Coffee & Tea', 'Bars', 'Food', 'Music Venues']           1
['Health Markets', 'Specialty Food', 'Food', 'Organic Stores']                                                                       1
['Lounges', 'Desserts', 'Coffee & Tea', 'Nightlife', 'Juice Bars & Smoothies', 'Tea Rooms', 'Bars', 'Food']                          1
['Food', 'Shopping', 'Specialty Food', 'Candy Stores']                                                                               1
['Food', 'Specialty Food', 'Pets', 'Health Markets', 'Pet Services']                                                                 1
['Grocery', 'Health Markets', 'Shopping', 'Food', 'Specialty Food', 'Vitamins & Supplements']                                        1
['Food', 'Grocery', 'Desserts']                                                                                                      1
['Shopping', 'Ice Cream & Frozen Yogurt', 'Food']                                                                                    1
['Desserts', 'Food', 'Coffee & Tea', 'Ice Cream & Frozen Yogurt']                                                                    1
['Ethnic Food', 'Specialty Food', 'Food', 'Imported Food']                                                                           1
['Brewpubs', 'Breweries', 'Food']                                                                                                    1
['Drugstores', 'Fashion', 'Electronics', 'Food', 'Department Stores', 'Mobile Phones', 'Grocery', 'Discount Store', 'Shopping']      1
['Meat Shops', 'Specialty Food', 'Event Planning & Services', 'Food', 'Caterers']                                                    1
['Flowers & Gifts', 'Convenience Stores', 'Food', 'Florists', 'Shopping', 'Grocery']                                                 1
['Bakeries', 'Coffee & Tea', 'Shopping', 'Fashion', 'Accessories', 'Food']                                                           1
['Meat Shops', 'Butcher', 'Food', 'Specialty Food', 'Grocery', 'Fruits & Veggies', 'Seafood Markets']                                1
['Food Trucks', 'Food', 'Event Planning & Services', 'Caterers']                                                                     1
Name: categories, Length: 5332, dtype: int64

Looking to the part of the data that have ** Food and not Restaurant**, I figured out that majority of them have "Coffee & Tea" , "Grocery", "Ice Cream & Frozen Yogurt", "Bakeries", "Convenience Store" , and so on. So let's just keep the ones that have Restaurant, since there are enough observations (more than 54 K) and keeping the ones with Food may make it very complex and may bring some biases to our final analysis on reviews (for example the businesses that serve Italian ice cream or american coffee may affect our analysis of whole Italian or American restaurants group). 
Finally, let's exclude the part of the data that has *** Grocery , Convenience Store, Coffee and Tea, Ice Cream and Frozen Yogurt, and Bakeries *** , Because some users might write review about the other parts and not about restuarant. (For example a restaurant that serves Ice Cream or Coffee and Tea may have reviews about these items and not food)

In [8]:
# Filter the df_restaurant from the observations that have other items (like Grocery)

not_restaurant_list = ['Grocery','Bakeries','Coffee & Tea','Ice Cream & Frozen Yogurt','Covenience Store']
not_restaurant_items = '|'.join(not_restaurant_list)
df_restaurant = df_restaurant[df_restaurant['categories'].str.contains(not_restaurant_items) == False]
print (df_restaurant.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50170 entries, 4 to 174558
Data columns (total 15 columns):
business_id     50170 non-null object
name            50170 non-null object
neighborhood    22279 non-null object
address         49870 non-null object
city            50170 non-null object
state           50170 non-null object
postal_code     50073 non-null object
latitude        50170 non-null float64
longitude       50170 non-null float64
stars           50170 non-null float64
review_count    50170 non-null int64
is_open         50170 non-null int64
attributes      50170 non-null object
categories      50170 non-null object
hours           50170 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 6.1+ MB
None

In [9]:
# Check locations of businesses ("city" and "state" columns)

print (df_restaurant['state'].value_counts())
print (df_restaurant['city'].value_counts())

# Check city='stuatgart' and state='01' as examples to figure out whether the language of reviews of business in all cities are English or not

df_stuatgart = df_restaurant[df_restaurant['city'] == 'Stuttgart']
print (df_stuatgart.head(5))

df_01 = df_restaurant[df_restaurant['state']=='01']
print (df_01.head(5))

# Check a business's reviews (A restaurant in Stuatgart )

df_example_review = df_review[df_review['business_id'] == 'o9eMRCWt5PkpLDE0gOPtcQ']
print (df_example_review)
print (df_example_review['text'].iloc[:4])

ON     12291
AZ      9802
NV      6680
QC      4528
OH      4521
NC      3622
PA      3396
BW      1558
WI      1387
EDH     1210
IL       577
SC       198
MLN       89
CHE       59
HLD       59
NYK       51
FIF       31
WLN       20
ELN       19
C         17
NY         9
01         9
NI         8
ST         4
ESX        3
IN         3
BY         3
CO         2
VS         2
WHT        1
CA         1
30         1
3          1
AK         1
HU         1
ZET        1
B          1
VA         1
PKN        1
GLG        1
6          1
Name: state, dtype: int64
Toronto                                 6424
Las Vegas                               5533
Phoenix                                 3361
Montréal                                2981
Charlotte                               2309
Pittsburgh                              2039
Scottsdale                              1334
Cleveland                               1278
Edinburgh                               1246
Mississauga                             1223
Mesa                                    1049
Madison                                  902
Stuttgart                                900
Tempe                                    880
Chandler                                 758
Henderson                                750
Markham                                  696
Glendale                                 617
Scarborough                              478
Gilbert                                  475
Brampton                                 457
Richmond Hill                            417
North York                               377
Vaughan                                  367
Champaign                                362
Peoria                                   332
North Las Vegas                          308
Oakville                                 301
Concord                                  299
Etobicoke                                259
                                        ...
Richmond Hts                               1
Alex                                       1
Saint-Pierre-de-Véronne-à-Pike-River       1
Rural Ridge                                1
Mont St-hilaire                            1
Bois-Des-Filion                            1
Montreal-Ouest                             1
Balerno                                    1
Tigre                                      1
Baie-D'urfe                                1
Northside                                  1
Île-des-Soeurs                             1
Ste-Therese-de-Blainville                  1
Camargo                                    1
Centre Island                              1
Venetia                                    1
Hiram                                      1
Laval, Ste Dorothee                        1
Bond Head                                  1
Roxboro                                    1
Hawthorne                                  1
Charlemagne                                1
Sainte-Rose                                1
St Leonard                                 1
Prévost                                    1
Northfield Center                          1
Chertsey                                   1
Cuyahoga Fls                               1
Varennes                                   1
Saint-sauveur                              1
Name: city, Length: 770, dtype: int64
                business_id                        name neighborhood             address       city state postal_code  \
5    o9eMRCWt5PkpLDE0gOPtcQ                     Messina          NaN      Richterstr. 11  Stuttgart    BW       70567
127  nAFI7JZEhmvUKMKSA_5Chg                   Nesenbach      Rathaus     Dorotheenstr. 6  Stuttgart    BW       70173
252  by_hdCLqAMHW8EEfPYjktA                 Vital Lunch          NaN    Tübinger Str. 22  Stuttgart    BW       70178
341  fx2GjJQyFb4FbueV0vX-KA  Restaurant Speisemeisterei          NaN  Schloß Hohenheim 1  Stuttgart    BW       70599
431  1vU_fJZ8B8oCc7S4dtRuEw         ristorante musica é          NaN      Neckarstr. 160  Stuttgart    BW       70190

      latitude  longitude  stars  review_count  is_open                                         attributes  \
5    48.727200   9.147950    4.0             5        1  {'GoodForMeal': {'dessert': False, 'latenight'...
127  48.775453   9.180737    2.5             7        1  {'GoodForMeal': {'dessert': False, 'latenight'...
252  48.771600   9.173720    3.0             6        0                      {'RestaurantsPriceRange2': 2}
341  48.712692   9.213667    4.5            40        1  {'GoodForMeal': {'dessert': False, 'latenight'...
431  48.789643   9.196590    3.5            20        1  {'DogsAllowed': False, 'Alcohol': 'beer_and_wi...

                                            categories                                              hours
5                           ['Italian', 'Restaurants']  {'Monday': '18:00-0:00', 'Tuesday': '18:00-0:0...
127  ['Cafes', 'Nightlife', 'Wine Bars', 'Bars', 'R...  {'Monday': '8:00-1:00', 'Tuesday': '8:00-1:00'...
252  ['Food', 'Caterers', 'Restaurants', 'Fast Food...                                                 {}
341  ['German', 'International', 'Food', 'Restauran...  {'Monday': '18:00-20:30', 'Tuesday': '12:00-0:...
431                         ['Restaurants', 'Italian']  {'Tuesday': '11:00-23:30', 'Friday': '11:00-23...
                  business_id          name neighborhood              address  city state postal_code   latitude  \
12926  t7IofjOiT0WRPonk7-jBJw  Peppes Pizza          NaN         Jeløygaten 2  Moss    01        1530  59.434601
17311  -HpY7t06AtvasLfJJmY2ww       Husmann          NaN         Værftsgata 2  Moss    01        1511  59.433829
49646  JAyiN0OolvgdL2kliTNDnA     Bifferiet          NaN  Dronningens Gate 14  Moss    01        1530  59.435616
54867  WU_41ySU7HoF62lpTr633w    Moss Sushi          NaN          Storgata 14  Moss    01        1531  59.435154
66241  _KIwnpbuw2mpjmBdpiwhlg       Bajazzo          NaN         Øreåsveien 2  Moss    01        1528  59.417061

       longitude  stars  review_count  is_open                                         attributes  \
12926  10.653094    3.0             4        1  {'RestaurantsTableService': True, 'GoodForMeal...
17311  10.650990    4.5             3        1                                                 {}
49646  10.664706    5.0             4        1  {'GoodForMeal': {'dessert': False, 'latenight'...
54867  10.657473    4.0             5        1  {'RestaurantsTableService': True, 'GoodForMeal...
66241  10.686238    2.5             3        1  {'GoodForMeal': {'dessert': False, 'latenight'...

                                              categories                                              hours
12926                ['Restaurants', 'Italian', 'Pizza']  {'Monday': '12:00-23:00', 'Tuesday': '12:00-23...
17311  ['Caterers', 'Event Planning & Services', 'Tra...  {'Tuesday': '14:00-20:00', 'Friday': '14:00-20...
49646                     ['Steakhouses', 'Restaurants']                                                 {}
54867   ['Sushi Bars', 'Chinese', 'Thai', 'Restaurants']  {'Monday': '11:00-22:00', 'Tuesday': '11:00-22...
66241   ['Baguettes', 'Pizza', 'Burgers', 'Restaurants']  {'Friday': '11:00-23:00', 'Tuesday': '11:00-23...
                      review_id                 user_id             business_id  stars        date  \
762653   3DptnFQwVaBjDnNkiiA12g  yJqCuWgVBBtFP6nGp6T1jw  o9eMRCWt5PkpLDE0gOPtcQ      5  2015-11-29
2296163  ziaKiifZwpgYftAqyebEQQ  Fy0P9ar4kXMO9WHqwelZNw  o9eMRCWt5PkpLDE0gOPtcQ      1  2012-04-25
4260908  Xo2ywaEK_Xfk2DQBzpWiYA  813Mk9m0pONGxCMgDKbMPA  o9eMRCWt5PkpLDE0gOPtcQ      4  2005-10-14
4264119  6_seokC4QXqixuT6oD3GCw  4h241rEcJ1lGVCcZUMV44g  o9eMRCWt5PkpLDE0gOPtcQ      5  2013-08-03
5020310  zxVF2lpZ5LCx8Z_r4Uczuw  fhlDsyIhOROvovmYDzl5Dg  o9eMRCWt5PkpLDE0gOPtcQ      5  2011-09-04

                                                      text  useful  funny  cool
762653   Traumhaft. \nGem├╝tlich und absolutes Spitzenn...       0      0     0
2296163  Der Besitzer ist arrogant, unh├╢flich und das ...       1      0     0
4260908  Was der Chef emphielt ist gut - Sonderw├╝nsche...       0      0     0
4264119  Keine\nAhnung, wie die beiden schlechten Kriti...       0      0     0
5020310  Deutschlandweit eines der besten italienischen...       0      0     0
762653     Traumhaft. \nGem├╝tlich und absolutes Spitzenn...
2296163    Der Besitzer ist arrogant, unh├╢flich und das ...
4260908    Was der Chef emphielt ist gut - Sonderw├╝nsche...
4264119    Keine\nAhnung, wie die beiden schlechten Kriti...
Name: text, dtype: object

By checking "state" column of "business" dataset, I figured out businesses' locations are diverse (including non English spoken countries). So I checked the *** text *** of businesses ("review" subdataset) to figure out whether the language of reviews are English or not. It was seen that the reviews' texts are not in English so I have to filter the original dataset from the English-spoken countries by using 'state' column and checking their addresses.    
I made a new subdata set, ** df_restaurant_eng **

In [10]:
# Filter "Non_English" reviews using 'state' column

no_eng_list = ['BW','C','01','NI','ST','6','30','3','BY','B','WHT','CA','HU']
df_restaurant_eng = df_restaurant[~df_restaurant.state.isin(no_eng_list)]

print (df_restaurant_eng.head())
print (df_restaurant_eng.info())

df_restaurant_eng['state'].value_counts()

               business_id                        name        neighborhood                  address            city  \
4   PfOCPjBrlQAnz__NXj9h_w    Brick House Tavern + Tap                 NaN             581 Howe Ave  Cuyahoga Falls
14  fNMVV_ZX7CJSDWQGdOM8Nw  Showmars Government Center              Uptown             600 E 4th St       Charlotte
15  l09JfMeQ6ynYs5MCJtrcmQ              Alize Catering  Yonge and Eglinton            2459 Yonge St         Toronto
25  1K4qrnfyzKzGgJPBEcJaNQ      Chula Taberna Mexicana         Leslieville    1058 Gerrard Street E         Toronto
28  Dj0S-Oe4ytRJzMGUPgYUkw                Panera Bread                 NaN  38295 Chestnut Ridge Rd          Elyria

   state postal_code   latitude  longitude  stars  review_count  is_open  \
4     OH       44221  41.119535 -81.475690    3.5           116        1
14    NC       28202  35.221647 -80.839345    3.5             7        1
15    ON     M4P 2H6  43.711399 -79.399339    3.0            12        0
25    ON     M4M 3A6  43.669256 -79.335902    3.5            39        1
28    OH       44035  41.343078 -82.067140    2.0             4        1

                                           attributes                                         categories  \
4   {'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...  ['American (New)', 'Nightlife', 'Bars', 'Sandw...
14  {'GoodForMeal': {'dessert': False, 'latenight'...          ['Restaurants', 'American (Traditional)']
15  {'GoodForMeal': {'dessert': False, 'latenight'...               ['Italian', 'French', 'Restaurants']
25  {'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...  ['Tiki Bars', 'Nightlife', 'Mexican', 'Restaur...
28  {'GoodForMeal': {'dessert': False, 'latenight'...     ['Soup', 'Salad', 'Sandwiches', 'Restaurants']

                                                hours
4   {'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...
14  {'Friday': '7:00-15:00', 'Tuesday': '7:00-15:0...
15  {'Monday': '9:00-22:00', 'Tuesday': '9:00-22:0...
25  {'Monday': '11:30-2:00', 'Tuesday': '11:30-2:0...
28  {'Monday': '6:30-21:00', 'Tuesday': '6:30-21:0...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48564 entries, 4 to 174558
Data columns (total 15 columns):
business_id     48564 non-null object
name            48564 non-null object
neighborhood    22075 non-null object
address         48266 non-null object
city            48564 non-null object
state           48564 non-null object
postal_code     48470 non-null object
latitude        48564 non-null float64
longitude       48564 non-null float64
stars           48564 non-null float64
review_count    48564 non-null int64
is_open         48564 non-null int64
attributes      48564 non-null object
categories      48564 non-null object
hours           48564 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 5.9+ MB
None

ON     12291
AZ      9802
NV      6680
QC      4528
OH      4521
NC      3622
PA      3396
WI      1387
EDH     1210
IL       577
SC       198
MLN       89
HLD       59
CHE       59
NYK       51
FIF       31
WLN       20
ELN       19
NY         9
IN         3
ESX        3
CO         2
VS         2
ZET        1
GLG        1
AK         1
VA         1
PKN        1
Name: state, dtype: int64

Using "state" column, I added a new column, "country", to **** df_restaurant_eng **** dataset for future usage. I am thinking maybe restaurants' customers in different English Spoken countries - US, Britain, Canada - show different behaviors and have different expectations.

In [11]:
# Add 'country' Column to english spoken restaurant dataset 

df_restaurant_eng.loc[:,'country']=np.nan

def countryfinder(x):
    if x in ['ON','QC']:
        return 'CAN' 
    elif x in ['AZ','NV','OH','NC','PA','WI','IL','SC','NY','IN','VA']:
        return 'USA'
    else: 
        return 'UK'

df_restaurant_eng.loc[:,'country'] = df_restaurant_eng.loc[:,'state'].apply(lambda x:countryfinder(x))

print (df_restaurant_eng.head(5))
print (df_restaurant_eng['country'].value_counts())

               business_id                        name        neighborhood                  address            city  \
4   PfOCPjBrlQAnz__NXj9h_w    Brick House Tavern + Tap                 NaN             581 Howe Ave  Cuyahoga Falls
14  fNMVV_ZX7CJSDWQGdOM8Nw  Showmars Government Center              Uptown             600 E 4th St       Charlotte
15  l09JfMeQ6ynYs5MCJtrcmQ              Alize Catering  Yonge and Eglinton            2459 Yonge St         Toronto
25  1K4qrnfyzKzGgJPBEcJaNQ      Chula Taberna Mexicana         Leslieville    1058 Gerrard Street E         Toronto
28  Dj0S-Oe4ytRJzMGUPgYUkw                Panera Bread                 NaN  38295 Chestnut Ridge Rd          Elyria

   state postal_code   latitude  longitude  stars  review_count  is_open  \
4     OH       44221  41.119535 -81.475690    3.5           116        1
14    NC       28202  35.221647 -80.839345    3.5             7        1
15    ON     M4P 2H6  43.711399 -79.399339    3.0            12        0
25    ON     M4M 3A6  43.669256 -79.335902    3.5            39        1
28    OH       44035  41.343078 -82.067140    2.0             4        1

                                           attributes                                         categories  \
4   {'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...  ['American (New)', 'Nightlife', 'Bars', 'Sandw...
14  {'GoodForMeal': {'dessert': False, 'latenight'...          ['Restaurants', 'American (Traditional)']
15  {'GoodForMeal': {'dessert': False, 'latenight'...               ['Italian', 'French', 'Restaurants']
25  {'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...  ['Tiki Bars', 'Nightlife', 'Mexican', 'Restaur...
28  {'GoodForMeal': {'dessert': False, 'latenight'...     ['Soup', 'Salad', 'Sandwiches', 'Restaurants']

                                                hours country
4   {'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0...     USA
14  {'Friday': '7:00-15:00', 'Tuesday': '7:00-15:0...     USA
15  {'Monday': '9:00-22:00', 'Tuesday': '9:00-22:0...     CAN
25  {'Monday': '11:30-2:00', 'Tuesday': '11:30-2:0...     CAN
28  {'Monday': '6:30-21:00', 'Tuesday': '6:30-21:0...     USA
USA    30196
CAN    16819
UK      1549
Name: country, dtype: int64

/Users/rtmac/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/rtmac/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Now, let's look deeper into "categories" column to check type of foods in resturants. I want to figure out which types of food exist more in the dataset, so I may bring type of food as a factor in my analysis.

In [12]:
# Check resturant 'categories' in order to find most popular types of food 

print (df_restaurant_eng['categories'].value_counts())

['Restaurants', 'Pizza']                                                                                                                                                                                                 983
['Pizza', 'Restaurants']                                                                                                                                                                                                 982
['Mexican', 'Restaurants']                                                                                                                                                                                               904
['Restaurants', 'Mexican']                                                                                                                                                                                               858
['Restaurants', 'Chinese']                                                                                                                                                                                               829
['Chinese', 'Restaurants']                                                                                                                                                                                               825
['Restaurants', 'Italian']                                                                                                                                                                                               559
['Italian', 'Restaurants']                                                                                                                                                                                               491
['Restaurants']                                                                                                                                                                                                          310
['Restaurants', 'American (Traditional)']                                                                                                                                                                                308
['American (Traditional)', 'Restaurants']                                                                                                                                                                                300
['American (New)', 'Restaurants']                                                                                                                                                                                        279
['Thai', 'Restaurants']                                                                                                                                                                                                  275
['Restaurants', 'Thai']                                                                                                                                                                                                  267
['Fast Food', 'Restaurants']                                                                                                                                                                                             254
['Restaurants', 'Fast Food']                                                                                                                                                                                             252
['Sandwiches', 'Restaurants']                                                                                                                                                                                            252
['Restaurants', 'Sandwiches']                                                                                                                                                                                            244
['Japanese', 'Restaurants']                                                                                                                                                                                              237
['Burgers', 'Restaurants']                                                                                                                                                                                               232
['Restaurants', 'Burgers']                                                                                                                                                                                               229
['Indian', 'Restaurants']                                                                                                                                                                                                229
['Restaurants', 'American (New)']                                                                                                                                                                                        223
['Restaurants', 'Fast Food', 'Burgers']                                                                                                                                                                                  223
['Restaurants', 'Indian']                                                                                                                                                                                                223
['Restaurants', 'Japanese']                                                                                                                                                                                              219
['Restaurants', 'Vietnamese']                                                                                                                                                                                            217
['Vietnamese', 'Restaurants']                                                                                                                                                                                            216
['Fast Food', 'Restaurants', 'Burgers']                                                                                                                                                                                  215
['Fast Food', 'Burgers', 'Restaurants']                                                                                                                                                                                  207
                                                                                                                                                                                                                        ...
['Pizza', 'Restaurants', 'Italian', 'Mediterranean']                                                                                                                                                                       1
['Restaurants', 'Breakfast & Brunch', 'Caterers', 'Event Planning & Services']                                                                                                                                             1
['Diners', 'Italian', 'Restaurants', 'Breakfast & Brunch']                                                                                                                                                                 1
['Pakistani', 'Restaurants', 'Indian', 'Seafood', 'Halal']                                                                                                                                                                 1
['Halal', 'Restaurants', 'Afghan', 'Middle Eastern']                                                                                                                                                                       1
['Asian Fusion', 'Restaurants', 'Vegetarian', 'Noodles', 'Vietnamese']                                                                                                                                                     1
['Imported Food', 'Ethnic Food', 'Specialty Food', 'Food', 'Restaurants', 'Mediterranean', 'Turkish']                                                                                                                      1
['Mediterranean', 'Restaurants', 'Falafel', 'Vegetarian']                                                                                                                                                                  1
['Restaurants', 'American (Traditional)', 'Sandwiches', 'Breakfast & Brunch']                                                                                                                                              1
['Restaurants', 'Sandwiches', 'Fast Food', 'Salad', 'Delis']                                                                                                                                                               1
['British', 'Nightlife', 'Restaurants', 'Bars', 'Pubs']                                                                                                                                                                    1
['Fast Food', 'Restaurants', 'Food Delivery Services', 'Chinese', 'Food']                                                                                                                                                  1
['Indian', 'Buffets', 'Restaurants', 'Himalayan/Nepalese']                                                                                                                                                                 1
['Salad', 'Restaurants', 'Barbeque', 'Sandwiches']                                                                                                                                                                         1
['American (New)', 'Restaurants', 'Chinese']                                                                                                                                                                               1
['Restaurants', 'Bars', 'Nightlife', 'Cocktail Bars', 'American (New)', 'Specialty Food', 'Food', 'Candy Stores']                                                                                                          1
['Restaurants', 'Poke', 'Food', 'Seafood', 'Hawaiian', 'Gluten-Free']                                                                                                                                                      1
['Fast Food', 'American (Traditional)', 'Restaurants', 'Breakfast & Brunch', 'Diners']                                                                                                                                     1
['Restaurants', 'Food', 'Food Court']                                                                                                                                                                                      1
['Bookstores', 'Restaurants', 'Books', 'Mags', 'Music & Video', 'Event Planning & Services', 'American (New)', 'Local Services', 'Community Service/Non-Profit', 'Used Bookstore', 'Bistros', 'Caterers', 'Shopping']      1
['Food', 'Restaurants', 'Specialty Food', 'Sandwiches', 'Butcher', 'Delis']                                                                                                                                                1
['Falafel', 'Mediterranean', 'Restaurants']                                                                                                                                                                                1
['Portuguese', 'Restaurants', 'Cafes']                                                                                                                                                                                     1
['Sandwiches', 'Salad', 'Delis', 'Restaurants']                                                                                                                                                                            1
['American (New)', 'Restaurants', 'Pubs', 'American (Traditional)', 'Bars', 'Diners', 'Nightlife', 'Sports Bars']                                                                                                          1
['Pizza', 'Cheesesteaks', 'Restaurants', 'Sandwiches']                                                                                                                                                                     1
['Restaurants', 'Pizza', 'Latin American']                                                                                                                                                                                 1
['Event Planning & Services', 'Restaurants', 'American (Traditional)', 'Caterers']                                                                                                                                         1
['Noodles', 'Restaurants', 'Cambodian', 'Barbeque']                                                                                                                                                                        1
['Specialty Food', 'Restaurants', 'Food', 'Ethnic Food', 'Nightlife', 'Pubs', 'Imported Food', 'Bars']                                                                                                                     1
Name: categories, Length: 21259, dtype: int64

By just taking a glance into 'categories' column, some of the very popular types of food in the dataset are:   
**** American, Italian, Chinese, Mexican, Indian, Japanese, Thai ****.   
I added the new column *** 'food_type' *** for future refrence in my analysis.

In [13]:
# Add a new column 'food_type' to 'df_restaurant_eng' dataset


def typefinder(x):
    if ('Italian' in x) and ('American' not in x) and ('Japanese' not in x) and  ('Indian' not in x) and ('Mexican' not in x) and ('Thai' not in x) and ('Chinese' not in x):
        return 'Italian'
    if ('American' in x) and ('Italian' not in x) and ('Japanese' not in x) and  ('Indian' not in x) and ('Mexican' not in x) and ('Thai' not in x) and ('Chinese' not in x): 
        return 'American'
    if ('Mexican' in x) and ('American' not in x) and ('Japanese' not in x) and  ('Indian' not in x) and ('Italian' not in x) and ('Thai' not in x) and ('Chinese' not in x):
        return 'Mexican'
    if ('Indian' in x) and ('American' not in x) and ('Japanese' not in x) and  ('Italian' not in x) and ('Mexican' not in x) and ('Thai' not in x) and ('Chinese' not in x):
        return 'Indian'
    if ('Chinese' in x) and ('American' not in x) and ('Japanese' not in x) and  ('Indian' not in x) and ('Mexican' not in x) and ('Thai' not in x) and ('Italian' not in x):
        return 'Chinese'
    if ('Thai' in x) and ('American' not in x) and ('Japanese' not in x) and  ('Indian' not in x) and ('Mexican' not in x) and ('Italian' not in x) and ('Chinese' not in x):
        return 'Thai'
    if ('Japanese' in x) and ('American' not in x) and ('Italian' not in x) and  ('Indian' not in x) and ('Mexican' not in x) and ('Thai' not in x) and ('Chinese' not in x):
        return 'Japanese'
    else:
        return None


df_restaurant_eng['food_type'] = df_restaurant_eng['categories'].apply(lambda x:typefinder(x))

print (df_restaurant_eng['food_type'].head(5))
print (df_restaurant_eng['food_type'].value_counts())
print (df_restaurant_eng['food_type'].count())

print (df_restaurant_eng.info())

4     American
14    American
15     Italian
25     Mexican
28        None
Name: food_type, dtype: object
American    8401
Italian     3788
Mexican     3604
Chinese     3318
Japanese    1972
Indian      1209
Thai         989
Name: food_type, dtype: int64
23281
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48564 entries, 4 to 174558
Data columns (total 17 columns):
business_id     48564 non-null object
name            48564 non-null object
neighborhood    22075 non-null object
address         48266 non-null object
city            48564 non-null object
state           48564 non-null object
postal_code     48470 non-null object
latitude        48564 non-null float64
longitude       48564 non-null float64
stars           48564 non-null float64
review_count    48564 non-null int64
is_open         48564 non-null int64
attributes      48564 non-null object
categories      48564 non-null object
hours           48564 non-null object
country         48564 non-null object
food_type       23281 non-null object
dtypes: float64(3), int64(2), object(12)
memory usage: 6.7+ MB
None

/Users/rtmac/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
# Number of restaurant (count) and number of reviews (sum) for each type of food and star

print (df_restaurant_eng.groupby(['food_type','stars'])['review_count'].agg(['count','mean','sum']))

                 count        mean     sum
food_type stars
American  1.0       21    4.952381     104
          1.5       99   15.292929    1514
          2.0      398   26.060302   10372
          2.5      965   48.964767   47251
          3.0     1821   61.663921  112290
          3.5     2273   92.252970  209691
          4.0     1970  160.464975  316116
          4.5      717  137.789400   98795
          5.0      137   20.087591    2752
Chinese   1.0       19    6.421053     122
          1.5       41    8.634146     354
          2.0      188   20.265957    3810
          2.5      410   29.087805   11926
          3.0      852   35.836854   30533
          3.5      962   59.067568   56823
          4.0      644   64.026398   41233
          4.5      172   46.046512    7920
          5.0       30    6.533333     196
Indian    1.0        2    3.000000       6
          1.5       14   10.642857     149
          2.0       27   11.407407     308
          2.5       99   12.717172    1259
          3.0      204   23.058824    4704
          3.5      338   49.559172   16751
          4.0      332   67.650602   22460
          4.5      170   52.200000    8874
          5.0       23    6.391304     147
Italian   1.0       28    7.321429     205
          1.5       88    8.863636     780
          2.0      180   15.450000    2781
...                ...         ...     ...
          4.0     1042   95.005758   98996
          4.5      431   78.969838   34036
          5.0       75   11.946667     896
Japanese  1.0        6    6.000000      36
          1.5       10   20.900000     209
          2.0       48   28.416667    1364
          2.5      135   37.155556    5016
          3.0      357   54.577031   19484
          3.5      564   92.382979   52104
          4.0      574  136.843206   78548
          4.5      241  142.236515   34279
          5.0       37   16.378378     606
Mexican   1.0       15    6.266667      94
          1.5       65   15.630769    1016
          2.0      192   24.322917    4670
          2.5      475   37.947368   18025
          3.0      741   49.659919   36798
          3.5      887   80.350620   71271
          4.0      792  108.862374   86219
          4.5      360   82.805556   29810
          5.0       77   16.350649    1259
Thai      1.0        2    4.500000       9
          1.5       13    6.307692      82
          2.0       46   11.217391     516
          2.5       60   24.550000    1473
          3.0      134   27.552239    3692
          3.5      269   77.334572   20803
          4.0      331  126.395770   41837
          4.5      116  112.646552   13067
          5.0       18    8.055556     145

[63 rows x 3 columns]

In [15]:
# Information of final dataset (Restaurant that serve one of the 7 most popular food in English Spoken Countries)

print (df_restaurant_eng[df_restaurant_eng['food_type'].notnull()].info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23281 entries, 4 to 174558
Data columns (total 17 columns):
business_id     23281 non-null object
name            23281 non-null object
neighborhood    9786 non-null object
address         23196 non-null object
city            23281 non-null object
state           23281 non-null object
postal_code     23256 non-null object
latitude        23281 non-null float64
longitude       23281 non-null float64
stars           23281 non-null float64
review_count    23281 non-null int64
is_open         23281 non-null int64
attributes      23281 non-null object
categories      23281 non-null object
hours           23281 non-null object
country         23281 non-null object
food_type       23281 non-null object
dtypes: float64(3), int64(2), object(12)
memory usage: 3.2+ MB
None

## Part B  - Data Wrangling on "Review" dataframe

In [16]:
# Get the unique business_ids of 'df_review' and 'df_restaurant_eng' datasets

df_review_business_list = df_review['business_id'].unique()
df_restaurant_eng_business_list = df_restaurant_eng['business_id'].unique()

#print (type(df_review_business_list))
print ("Number of unique business ids in review dataframe:",len(df_review_business_list))


#print (type(df_restaurant_eng_business_list))
print ("Number of unique business ids in restaurant_eng dataframe:",len(df_restaurant_eng_business_list))


# Find the matching list of business_ids between two datasets ("restaurant" and "review")

business_id_match = set(df_restaurant_eng['business_id']) & set(df_review['business_id'])
#print (business_id_match)
print ("The number of matching business ids in two dataframes:",len(business_id_match))

Number of unique business ids in review dataframe: 174567
Number of unique business ids in restaurant_eng dataframe: 48564
The number of matching business ids in two dataframes: 48564

So based on the matching number (48564), I could say all of the entries in "df_restaurant_eng" have some reviews in "df_review". But some of the entries in "df_review" do not have any matching row in "df_restaurant_eng".

In [17]:
# Make "df_review_restaurant_eng" for restaurants in english spoken countries 

# Since the original df_review is big (more than 5 Million rows), I had to made it into few slices and do filtering 
# And then merge the datasets 

business_id_match_list = list(business_id_match)

# 1 

df_review_1 = df_review.iloc[:1000000,]
df_review_restaurant_eng1 = df_review_1[df_review_1['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng1.info())

# 2

df_review_2 = df_review.iloc[1000000:2000000,]
df_review_restaurant_eng2 = df_review_2[df_review_2['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng2.info())


# 3 

df_review_3 = df_review.iloc[2000000:3000000,]
df_review_restaurant_eng3 = df_review_3[df_review_3['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng3.info())


# 4 

df_review_4 = df_review.iloc[3000000:4000000,]
df_review_restaurant_eng4 = df_review_4[df_review_4['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng4.info())

# 5 

df_review_5 = df_review.iloc[4000000:5000000,]
df_review_restaurant_eng5 = df_review_5[df_review_5['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng5.info())

# 6 

df_review_6 = df_review.iloc[5000000:,]
df_review_restaurant_eng6 = df_review_6[df_review_6['business_id'].isin(business_id_match_list)]
print (df_review_restaurant_eng6.info())
print (type(df_review_restaurant_eng6))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562587 entries, 0 to 999994
Data columns (total 9 columns):
review_id      562587 non-null object
user_id        562587 non-null object
business_id    562587 non-null object
stars          562587 non-null int64
date           562587 non-null object
text           562587 non-null object
useful         562587 non-null int64
funny          562587 non-null int64
cool           562587 non-null int64
dtypes: int64(4), object(5)
memory usage: 42.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 562752 entries, 1000003 to 1999998
Data columns (total 9 columns):
review_id      562752 non-null object
user_id        562752 non-null object
business_id    562752 non-null object
stars          562752 non-null int64
date           562752 non-null object
text           562752 non-null object
useful         562752 non-null int64
funny          562752 non-null int64
cool           562752 non-null int64
dtypes: int64(4), object(5)
memory usage: 42.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 561501 entries, 2000002 to 2999997
Data columns (total 9 columns):
review_id      561501 non-null object
user_id        561501 non-null object
business_id    561501 non-null object
stars          561501 non-null int64
date           561501 non-null object
text           561501 non-null object
useful         561501 non-null int64
funny          561501 non-null int64
cool           561501 non-null int64
dtypes: int64(4), object(5)
memory usage: 42.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 562322 entries, 3000004 to 3999999
Data columns (total 9 columns):
review_id      562322 non-null object
user_id        562322 non-null object
business_id    562322 non-null object
stars          562322 non-null int64
date           562322 non-null object
text           562322 non-null object
useful         562322 non-null int64
funny          562322 non-null int64
cool           562322 non-null int64
dtypes: int64(4), object(5)
memory usage: 42.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 562072 entries, 4000000 to 4999999
Data columns (total 9 columns):
review_id      562072 non-null object
user_id        562072 non-null object
business_id    562072 non-null object
stars          562072 non-null int64
date           562072 non-null object
text           562072 non-null object
useful         562072 non-null int64
funny          562072 non-null int64
cool           562072 non-null int64
dtypes: int64(4), object(5)
memory usage: 42.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 146501 entries, 5000000 to 5261668
Data columns (total 9 columns):
review_id      146501 non-null object
user_id        146501 non-null object
business_id    146501 non-null object
stars          146501 non-null int64
date           146501 non-null object
text           146501 non-null object
useful         146501 non-null int64
funny          146501 non-null int64
cool           146501 non-null int64
dtypes: int64(4), object(5)
memory usage: 11.2+ MB
None
<class 'pandas.core.frame.DataFrame'>

In [18]:
# Now it is time to merge these 6 subsets ! 

dataframes = [df_review_restaurant_eng1, df_review_restaurant_eng2, df_review_restaurant_eng3, df_review_restaurant_eng4, df_review_restaurant_eng5, df_review_restaurant_eng6]

df_review_restaurant_eng = pd.concat(dataframes)
print (df_review_restaurant_eng.info())

print (df_review_restaurant_eng['business_id'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2957735 entries, 0 to 5261668
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 225.7+ MB
None
4JNXUYY8wbaaDmk3BPzlWw    7362
RESDUcs7fIiihp38-d6_6g    7006
K7lWdNUhCbcnEvI0NhGewg    5951
cYwJA2A6I12KNkm2rtXd5g    5448
DkYS3arLOhA8si5uUEmHOw    4870
f4x1YBxkLrZg652xt2KR5g    4774
2weQS-RnoOBhb1KsHKyoSQ    4018
KskYqH1Bi7Z_61pH6Om8pg    3965
eoHdUeQDNgQ6WYEnP2aiRw    3911
ujHiaprwCQ5ewziu0Vi9rw    3836
iCQpiavjjPzJ5_3gPD5Ebg    3741
El4FC8jcawUVgw_0EIcbaQ    3445
hihud--QRriCYZw1zZvW4g    3264
7sPNbCx7vGAaH7SbNPZ6oA    3064
g8OnV26ywJlZpezdBnOWUQ    3051
XZbuPXdyA0ZtTu3AzqtQhg    3011
OETh78qcgDltvHULowwhJg    2933
P7pxQFqr7yBKMMI2J51udw    2771
XXW_OFaYQkkGOGniujZFHg    2700
HhVmDybpU7L50Kb5A0jXTg    2673
yfxDa8RFOvJPQh0rNtakHA    2595
3kdSl5mo9dWC4clrQjEDGg    2594
QJatAcxYgK1Zp9BRZMAx7g    2551
YJ8ljUhLsz6CtT_2ORNFmg    2502
NvKNe9DnQavC9GstglcBJQ    2490
RwMLuOkImBIqqYj4SSKSPg    2447
Cni2l-VKG_pdospJ6xliXQ    2440
faPVqws-x-5k2CQKDNtHxw    2361
G-5kEa6E6PD5fkBRuA7k9Q    2350
fL-b760btOaGa85OJ9ut3w    2320
                          ...
Ai4n7V09AEvMHVbY_6bCoA       3
Tuj_q3-gFRsRzR1xxQqNeA       3
7oR9Nimj97GRnO0bi57mTg       3
e5WAfCqfd_66zgrHmn8CiQ       3
cjvOhC0NxaYdJQRTBiHdtQ       3
vgOzBujwf-bnvlG03WHBvA       3
s7QogEr22M2VclZ3jO789g       3
B0ovKDmWnVMs_LFgzPwfpg       3
yO8XnZDmxnTtR03sSWVnaQ       3
NFHNHtVMd3VwFqneIuExWQ       3
PednG-JMd_o2OB1_0N9m-A       3
vLdq0ZxL7ApFe06deZVpQw       3
9NUZao5_Jfhj5H45H0ccOQ       3
mpTdK7oheF6grPRigiTJKg       3
BxpWf0-aNxjpfdZcULR6vg       3
Q3Tgxs9eZPod6EqwCyYHhQ       3
xGWwWMMtxpbllV51XS3ktA       3
PfQcKt0r3WmVb2dFOd5udA       3
MnbFtG0a7gQplkSfk_oqjw       3
tAsTOl-mrPX3kiiyz1a1TQ       3
o5t9pyqPVyGV7Z76sfxHfg       3
Oq-fXPDOZiAJFslMCBA8Uw       3
fFX8eu8iFgST8K3t3H4RKg       3
sksJyRYw03EGzU7m7kN33w       3
trt4CpseesidBVJGUeLENw       3
wlDCeU71PefExClqbsPcKA       3
4fBJiBm49YT9C2Zzah8YmA       3
Vzax98BCkEM1uYibYCzqPQ       2
ST-IVOkIRq-DAyTD0e9DKw       2
mNe3JV7BwrtALmzjYJ3Agg       1
Name: business_id, Length: 48564, dtype: int64

In [19]:
# Initial check of "df_review_restaurant_eng" 


print (df_review_restaurant_eng.info())
print (df_review_restaurant_eng.head(5))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2957735 entries, 0 to 5261668
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 225.7+ MB
None
                review_id                 user_id             business_id  stars        date  \
0  v0i_UHJMo_hPBq9bxWvW4w  bv2nCi5Qv5vroFiqKGopiw  0W4lkclzZThpx3V65bVgig      5  2016-05-28
1  vkVSCC7xljjrAI4UGfnKEQ  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA      5  2016-05-28
2  n6QzIUObkYshz4dz2QRJTw  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w      5  2016-05-28
3  MV3CcKScW05u5LVfF6ok0g  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g      5  2016-05-28
4  IXvOzsEMYtiJI0CARmj77Q  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA      4  2016-05-28

                                                text  useful  funny  cool
0  Love the staff, love the meat, love the place....       0      0     0
1  Super simple place but amazing nonetheless. It...       0      0     0
2  Small unassuming place that changes their menu...       0      0     0
3  Lester's is located in a beautiful neighborhoo...       0      0     0
4  Love coming here. Yes the place always needs t...       0      0     0

#### Now it is time to save the cleaned and modified data frames (restaurant.csv & restaurant_eng.csv & review) into the main folder for further use in next steps !

In [20]:
# Save the cleaned and modified datasets (df_restaurant , df_restaurant_eng , and df_review_restaurant_eng) into the main folder for the next steps ! 

df_restaurant.to_csv("../restaurant.csv", index=False , encoding = 'utf8')
df_restaurant_eng.to_csv("../restaurant_eng.csv" , index=False , encoding = 'utf8')
df_review_restaurant_eng.to_csv("../review_restaurant_eng.csv", index=False , encoding = 'utf8')